<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings><add name="FleetVehiclesEntities" connectionString="metadata=res://*/Data.Database.csdl|res://*/Data.Database.ssdl|res://*/Data.Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-M1UIT3L;initial catalog=FleetVehicles;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>